:root{
    --primary-color : #2F5233;   /*Cal Poly Green*/
    --secondary-color : #1D3557; /*Berkeley Blue*/
    --accent1-color : #6EC1E4;   /*Sky Blue */
    --accent2-color: #F3E9DC;    /*Linen*/
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", sans-serif;

}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}


.hero{
    position: relative;
    
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero-article {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(29, 53, 87, 0.85); 
    color: var(--accent2-color);
    padding: 24px 52px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    max-width: 1200px;
    text-align: center;
    z-index: 2;
}

.hero-article h2{
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img{
    float: right;
    width: 125px;
}

.adventure{
    display: flex;
    flex-direction: column;
    padding: 32px;
    color: black;
}

.adventure img {
    max-width: 500px;   
    width: 100%;
    height: auto;
    border-radius: 8px; 
}